
body {
    color: #fff;
    background-color: #181721;
    font-weight: 300;
    line-height: 1.8;
    overflow-x: hidden;
}

@font-face {
    font-family: Raleway-Black;
    src: url("../fonts/Raleway-Black.ttf");
    
  }

  .Raleway-Black{
      font-family: Raleway-Black;
  }

  @font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
    
  }

  .Raleway-Bold{
      font-family: Raleway-Bold;
  }

  @font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway-Regular.ttf");
   
  }

  .Raleway-Regular{
      font-family: Raleway-Regular;
  }

  @font-face {
    font-family: Raleway-Thin;
    src: url("../fonts/Raleway-Thin.ttf");
    
  }

  .Raleway-Thin{
      font-family: Raleway-Thin;
  }

.logo{
    width: 225px;
    height: auto;
    margin-bottom: 15px;
}

.section {
    position: relative;
}

.menu {
    background: rgba(0, 0, 0, .5);
    padding: 0px;
}

.menu img{
    padding: 10px;
    margin: 10px;
}

.menu-lista{
   
    margin-right: 50px;
}

.menu-lista li{
    display: inline;
    color: white;
    padding: 4px;
    margin: 20px;
}
.menu-lista li a:hover{
    color: white;
}

.menu-lista li a {
    list-style: none;
    color: #8797FD;
    text-transform: uppercase;
}

.portada{
    background-image: url("../images/computo.png");
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    min-height: 600px;
    overflow: hidden;

}

.cabecera-portada{


}

.titulo-principal{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 15px;
    font-size: 89px;
    font-weight: 800;
    line-height: 1.2;
    background: linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%);
  -webkit-background-clip: text;
  color: transparent; 
}

.titulo-pequeno{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px
}

.sobre-mi{
    background-image: url("../images/huequitos.png");
    height: 100vh;
    position: relative;
    min-height: 850px;
    overflow: hidden;

}



.titulo-sobre-mi{
    margin-top: 100px;
    margin-left: 280px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
}

.titulo-sobre-mi h2{
    color: #fff;
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.25;
}

.nav-link {
    margin: 0;
    padding: 20px 30px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border: 0;
  }
  .nav-tabs {
    border: none;
  }

  .nav-pills{

    margin-bottom: 45px;
    text-align: center;

  }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-image: linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%) !important;
       background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
     -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
    font-size: 20px;
       font-weight: 100;
       padding: 10px;
       box-shadow: 1px 1px 20px 0px #000000;
       -webkit-box-shadow: 1px 1px 20px 0px #000000;
       -moz-box-shadow: 1px 1px 20px 0px #000000;
       text-shadow: 1px 1px 20px #000000;
       border: solid #337FED 1px;
       text-decoration: none;
       display: inline-block;
       cursor: pointer;
    z-index: 1; 
}

.tab-descripcion{
    margin-bottom: 45px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


.box-icon-1 {
    margin-bottom: 15px;
    color: #ececec;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-icon-top {
    margin-bottom: 25px;
    text-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}


.icono {
    text-align: center;
    
}

.icono img{
    width: 80px;
}

/* portafolio */

.portafolio{
    background-image: url("../images/folio.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}



.section-heading-1 {
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    text-transform: capitalize;
}

.page-heading-1 h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.25;
}

.page-heading-1 p {
    margin-top: 20px;
    margin-bottom: 0;
}

#portfolio.page {
    padding: 0;
}

.portfolio_filter {
    margin: 0;
    padding: 0;
    background: #000;
    text-align: center;
}


element.style {
}
.portfolio_filter li a.active {
    color: #fff;
}

.portfolio_filter li {
    display: inline-block;
}
.portfolio_filter li a {
    margin: 0;
    padding: 20px 15px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border: 0;
    /* margin-bottom: 30px; */
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* grid portafolio */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
  }
  .grid-item {
    font-size: 30px;
    text-align: center;
  }
  .grid-item {
    width: 100%;
    
  }

  .item{
      width: 340px;
      height: 360px;
  }

  .item button{
      margin-top: 50%;
      background-color: rgba(0, 0, 0, 0.5);
  }

  /* modal portafolio */



  .text-center{
      text-align: center;
  }


.detail-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.modal-dialog{
    margin-left: 200px;
}
  
.modal-content{
    background-color: rgba(0, 0, 0, 0.767);
    width: 1026px;
    height: auto;

} 

.imagen-portafolio{
width: 100%;
}

.icono-lupa{
    width: 30px;
}

.icono-lupa img{
    width: 100%;
}



.contacto{
    background-image: url("../images/social-media.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.pag-contactos{
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-control{
    background-color: rgba(0, 0, 0, 0.767);
}

ul.social-links {
    margin-top: 35px;
    padding: 0;
    list-style-type: none;
}

ul.social-links li {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin-right: 10px;
}

ul.social-links li a {
    list-style: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

.color-gradient {
    background-image: -o-linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%) !important;
    background-image: -ms--linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%) !important;
    background-image: -moz-linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%) !important;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%) !important;
    background-image: linear-gradient(0deg, rgba(0, 29, 126, 0.9) 0%, rgba(0, 154, 218, 0.9) 100%) !important;
}

footer{
    background-color: #000;
    padding-top: 50px;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){


}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

.titulo-principal{
    font-size: 5rem;
}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

.titulo-principal{
    font-size: 2rem;
    margin-top: 140px;
}

.portada {
    background-image: url(../images/computo-min.png);
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    min-height: 360px;
    overflow: hidden;
}

}


